* {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.leftArrow {
    vertical-align: middle;
    width: 50px;
}

.container {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.showLetter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    color: #00C7C7;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    border: #00C7C7 4px solid;
    text-align: center;
}

.letter {
    width: auto;
    position: fixed;
    top: 6%;
    right: 10px;
    z-index: 2;
    text-align: center;
}

.letter ul li a {
    color: #00C7C7;
}

.city {
    width: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 220px;
    left: 0;
}

.cityList {
    width: 100%;
}

.cityList .city-letter {
    display: inline-block;
    padding: 0.5rem 0.3rem;
    border-bottom: 1px solid #e8ecf1;
    width: 95%;
}
.cityList .currenCity{
    color: #00C7C7;
}

.cityList p {
    color: #afafaf;
    width: 95%;
    height: 35px;
    line-height: 35px;
    padding: 0.4rem 0.3rem;
    border-bottom: 1px solid #e8ecf1;
    cursor: pointer;
}

.allCity {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 15px;
}